<h2> Edit <%=@farmers_market.name%> </h2>

<%= form_with url: "/farmers_markets/#{@farmers_market.id}", method: :patch, local: true do |form| %>
<%= form.label :name, "Farmers Market Name:" %>
<%= form.text_field :name %> <br> <br>

<%= form.label :city, "City:" %>
<%= form.text_field :city %> <br> <br>

<%= form.label :num_stands %>
<%= form.number_field :num_stands %> <br> <br>

<%= form.label :open, "Open?" %>
<%= form.select :open, ["true","false"] %> <br> <br>

<%= form.submit "Update Farmers Market" %>
<% end %>
