<%= link_to "All Stands", "/stands" %> | <%= link_to "All Farmers Markets", "/farmers_markets" %>

<h2> Farmers' Markets</h2>
<% @farmers_markets.each do |market| %>
  <ol> <%=link_to market.name, "/farmers_markets/#{market.id}" %> (<i>created at <%= market.formatted_created_at %></i>)</ol>
<% end %>

<%= link_to 'New Farmers Market', "/farmers_markets/new" %>
