<h2><%= @farmers_market.name %></h2>
<ol> <b> City: </b> <%= @farmers_market.city %></ol>
<ol> <b> Currently Open: </b> <%= @farmers_market.open %></ol>
<ol> <b> Stand Capacity: </b> <%= @farmers_market.num_stands %></ol>
<ol> <b> Number of Open Stands: </b> <%= @farmers_market.count_of_stands %></ol>
