<h2> All Open Stands</h2>
<% @stands.each do |stand| %>
<div class="stand-<%=stand.id%>">
  <p> <b> Name: </b> <%= link_to "#{stand.name}", "/stands/#{stand.id}" %> </p>
  <p> <b> Open? </b> <%= stand.open %> </p>
  <p> <b> Review Rating: </b> <%= stand.review_rating %>/5 </p>
  <p> <%= link_to "Edit", "/stands/#{stand.id}/edit" %> | <%= link_to "Delete", "/stands/#{stand.id}", method: :delete %> </p> <br>
</div>
<% end %>
