<%= link_to "All Stands", "/stands" %> | <%= link_to "All Farmers Markets", "/farmers_markets" %>

<h2> All Stands</h2>
<% @stands.each do |stand| %>
  <ol> <b> Name: </b> <%= stand.name %> </ol>
  <ol> <b> Open? </b> <%= stand.open %> </ol>
  <ol> <b> Review Rating: </b> <%= stand.review_rating %>/5 </ol>
  <ol> <%= link_to "Edit", "/stands/#{stand.id}/edit" %> </ol>
  <br>
<% end %>
