<h2><%= @stand.name %></h2>
<p> <b> Currently Open: </b> <%= @stand.open %></p>
<p> <b> Review Rating: </b> <%= @stand.review_rating %></p>

<%= link_to "Update #{@stand.name}", "/stands/#{@stand.id}/edit", method: :get %> ||
<%= link_to "Delete #{@stand.name}", "/stands/#{@stand.id}", method: :delete %>
